2025-10-05 19:29:31,219 - journalizer_mufg - INFO - Processing file: fromWeb/bank/csv/202501.csv
2025-10-05 19:29:31,284 - journalizer_mufg - INFO - Parsing transaction data...
2025-10-05 19:29:31,305 - journalizer_mufg - INFO - Journalizing transactions...
2025-10-05 19:30:01,866 - journalizer_mufg - INFO - Generating output CSV...
2025-10-05 19:30:01,869 - journalizer_mufg - INFO - CSV output generated: ./csv/tj_bank_202501.csv
2025-10-05 19:30:01,871 - journalizer_mufg - INFO - Processing completed. Output CSV: ./csv/tj_bank_202501.csv
2025-10-05 19:31:51,615 - journalizer_mufg - INFO - Processing file: fromWeb/bank/csv/202502.csv
2025-10-05 19:31:51,620 - journalizer_mufg - INFO - Parsing transaction data...
2025-10-05 19:31:51,623 - journalizer_mufg - INFO - Journalizing transactions...
2025-10-05 19:32:18,895 - journalizer_mufg - INFO - Generating output CSV...
2025-10-05 19:32:18,898 - journalizer_mufg - INFO - CSV output generated: ./csv/tr_bank_202502.csv
2025-10-05 19:32:18,900 - journalizer_mufg - INFO - Processing completed. Output CSV: ./csv/tr_bank_202502.csv
